@media only screen and (min-width: 391px) and (max-width: 412px) {
    body {
        font-family: Arial, sans-serif;
        background-color: #F7F7F7;
        padding: 20px;
    } 

    .homepageContainer{
        position: fixed;
    }

    .restocklogo{
        display: flex;
        margin-left: 20%;
    }

    .appname{
        color: rgb(21, 98, 21);
        font-size: 45px;
        margin-left: -20px;
        font-weight: 500px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    #logo-listpage{
        width: 60%;
        height: 250px;
        margin-left: 40px;
    }

    .restocklogo-list-page{
        display: flex;
        margin-left: -60px;
    }



    /* Shopping List page */

    .appname-list-page{
        color:rgb(21, 98, 21);
        font-size: 40px;
        margin-left: -20%;
        margin-top: 35px;
        font-weight: 500px;
        font-family: 'Times New Roman', Times, serif;
    } 

    .addItemForm{
        display: column;
    }

    

    #itemName{
        margin-bottom: 9% ;
        width: 110%;
        margin-left: -18%;

    }

    #itemQuantity{
        width: 110%;
        margin-left: -18%;
    }

    #submit{
        margin-right: -60%;
        font-size: 30px;
        text-align: center;
    }

    #shoppingList{
        display: block;
        width: 10%;
    }

    .item-name{
    }

    #itemInputDetails{
        width: 30%;
        margin-left: -10%;
    }

    #list_buttons{
        margin-left: 270%;
    }

}

@media only screen and (min-width: 490px) and (max-width: 540px) {
  body {
      font-family: Arial, sans-serif;
      background-color: #F7F7F7;
      padding: 20px;
  } 

  .homepageContainer{
      position: fixed;
  }

  .restocklogo{
      display: flex;

  }

  .appname{
      color: rgb(21, 98, 21);
      font-size: 40px;
      margin-left: -30px;
      font-weight: 500px;
      font-family: 'Times New Roman', Times, serif;
  }
  
  #logo-listpage{
      width: 40%;
      height: 180px;
      margin-left: 10px;
  }

  .restocklogo-list-page{
      display: flex;
      margin-left:-30px;
  }
  
  /* Shopping List page */

  .appname-list-page{
      color:rgb(21, 98, 21);
      font-size: 40px;
      margin-left: -20%;
      margin-top: 35px;
      font-weight: 500px;
      font-family: 'Times New Roman', Times, serif;
  } 

  .addItemForm{
      display: column;
  }

  

  #itemName{
      margin-bottom: 9% ;
      width: 90%;
  }

  #itemQuantity{
    width: 90%;
  }

  #submit{

      font-size: 25px;
      text-align: center;
  }

  #shoppingList{
      display: block;
      width: 10%;
  }

  .item-name{
  }

  #itemInputDetails{
      width: 30%;
      margin-left: -10%;
  }

  #list_buttons{
      margin-left: 270%;
  }

}

@media only screen and (min-width: 750px) and (max-width: 800px) {
  body {
      font-family: Arial, sans-serif;
      background-color: #F7F7F7;
      padding: 20px;
  } 

  .homepageContainer{
      position: fixed;
  }

  .restocklogo{
      display: flex;
      margin-left: 20%;
  }

  .appname{
      color: rgb(21, 98, 21);
      font-size: 45px;
      margin-left: -20px;
      font-weight: 500px;
      font-family: 'Times New Roman', Times, serif;
  }
  
  #logo-listpage{
      width: 40%;
      height: 250px;
      margin-left: 40px;
  }

  .restocklogo-list-page{
      display: flex;
      margin-left: -60px;
  }



  /* Shopping List page */

  .appname-list-page{
      color:rgb(21, 98, 21);
      font-size: 40px;
      margin-left: -20%;
      margin-top: 35px;
      font-weight: 500px;
      font-family: 'Times New Roman', Times, serif;
  } 

  .addItemForm{
      display: column;
  }

  

  #itemName{
      margin-bottom: 9% ;


  }

  #itemQuantity{
      width: 110%;
      margin-left: -18%;
  }

  #submit{
      margin-right: -60%;
      font-size: 30px;
      text-align: center;
  }

  #shoppingList{
      display: block;
      width: 10%;
  }

  .item-name{
  }

  #itemInputDetails{
      width: 30%;
      margin-left: -10%;
  }

  #list_buttons{
      margin-left: 270%;
  }

}


@media only screen and (min-width: 862px) and (max-width: 912px) {
  body {
      font-family: Arial, sans-serif;
      background-color: #F7F7F7;
      padding: 20px;
  } 

  .homepageContainer{
      position: fixed;
  }

  .restocklogo{
      display: flex;
      margin-left: 10%;
  }

  .appname{
      color: rgb(21, 98, 21);
      font-size: 45px;
      margin-left: -10px;
      font-weight: 500px;
      font-family: 'Times New Roman', Times, serif;
  }
  
  #logo-listpage{
      width: 40%;
      height: 250px;
      margin-left: 40px;
      margin-left: -8%;
  }

  .restocklogo-list-page{
      display: flex;
      margin-left: 50px;
  }



  /* Shopping List page */

  .appname-list-page{
      color:rgb(21, 98, 21);
      font-size: 40px;
      margin-left: -20%;
      margin-top: 50px;
      font-weight: 500px;
      font-family: 'Times New Roman', Times, serif;
  } 

  .addItemForm{
      display: column;
  }

  #itemName{
      margin-bottom: 9% ;
      width: 100%;

  }

  #itemQuantity{
    width: 100%;
     
  }

  #submit{
      margin-right: -1%;
      font-size: 30px;
      text-align: center;
  }

  #clearList{
    margin-bottom: 9% ;
  }

  #shoppingList{
      display: block;
      width: 10%;
  }

  .item-name{
    margin-left: 10%;
  }

  #itemInputDetails{
      width: 30%;
      margin-left: -10%;
  }

  #list_buttons{
      margin-left: 270%;
  }

}

@media (min-width: 414px) and (max-width: 460px) {
    /* index */
    .container {
        max-width: 1100px;
        margin: 40px auto;
       
        padding: 2px;
        border-radius: 8px;
      
    }
    #logo{
      width: 50%;
      height: 130px;
      margin-left: 10px;
      margin-top: -40px;
     
  }
  .appname{
    font-size: 30px;
    margin-left: -20%;
    margin-top: -15px;
    font-weight: 400px;
  }
  .welcome_heading{
    margin-top: -1px;
      font-size: 18px;
      margin-right: 60px;
      color: orange;
  }
  #landing-page-button{
      width: 120%;
      padding: 15px 10px;
      background: rgb(21, 98, 21);
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
      border-radius: 8px;
      border: 2px solid white;
      font-size: 30px;
  }
  #welcome-paragraph p{
    margin-top: -1px;
      font-size: 15px;
      width: 200px;
      line-height: 1.8;
  }
  .shopping_basket{
      width: 110px;
     margin-left: -70%;
  }
  #landing-page-button{
      display: flex;
      align-items: center;
      font-size: 14px;
      height: 12px;
      width: 150px;
   }
   .shoppinglisttext{
    margin-top: -1%;
   }
   /* addlist */
  #listName{
    margin-left: -15%;
    width: 180px;
    font-size: large;
  }
  #add-button{
    font-size: medium;
    width: 350px;
  }
  #clearAllLists{
    margin-left: 24%;
    margin-top: -50%;
  }
   #logo-listpage{
    width: 40%;
    height: 150px;
    margin-left:70px;
    margin-top: 23px;
  }
  .container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    margin-top: -3%;
  }
  /* list */
  .container{
    margin-top:-2%;
  }
  #itemName{
    margin-left: -1%;
    width: 120px;
    font-size: large;
  }
  #itemQuantity{
  width: 120px;
  font-size: large;
  }
  #logo-listpage{
      width: 100px;
      height: 100px;
      margin-left: 30%;
      margin-top: -2px;
  }
  .appname-list-page{
      font-size: 30px;
      margin-left: -14%;
      margin-top: 20px;
      font-weight: 400px;
  }
  #submit{
    font-size: medium;
    width: 130px;
  }
  #addItemForm{
    margin-top: -15%;
  }
  #clearList{
    margin-left: 26%;
    margin-top: -4%;
  }
  /* #itemInputDetails{
    margin-left: -15%;
    width: 111px;
    font-size: large;
  }*/
  #itemInputDetails{
    width: 12px;
    margin-left: -6%;

  }
  #list_buttons{ 
    font-size: small;
    height: 8px;
    width: 10px;
    margin-left: 48%;
  }
  .removeItem{
    margin-left: 10%;
  }
  }

  @media only screen and (min-width: 541px) and (max-width: 590px){
    #logo{
        width: 55%;
        height: 150px;
        margin-left: -40px;
    }
    .appname{
        color: rgb(21, 98, 21);
        font-size: 43px;
        margin-left: -50px;
        margin-top: 23px;
        font-weight: 500px;
        font-family: 'Times New Roman', Times, serif;
    }
   #add-button{
    width: 205px;
    height: 55px;
   }
   #listName{
    width: 226px;
    height: 55px;
   }
    .welcome_heading{
        font-size: 18px;
        margin-right: 60px;
        color: orange;
    }
    #landing-page-button{
        width: 80%;
        padding: 15px 10px;
        background: rgb(21, 98, 21);
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
        border-radius: 8px;
        border: 2px solid white;
        font-size: 20px;
    }
    #welcome-paragraph p{
        font-size: 15px;
        width: 233px;
        line-height: 1.8;
    }
    .shopping_basket{
        width: 300%;
        margin-right: -150%;
        height: 300px;
    }
    #landing_page{
        display: flex;
        align-items: center;
        font-size: 21px;
    }
    #logo-listpage{
        width: 40%;
        height: 150px;
        margin-left:70px;
        margin-top: 23px;
    }
    .appname-list-page{
        color:rgb(21, 98, 21);
        font-size: 35px;
        margin-left: -70px;
        margin-top: 50px;
        font-weight: 500px;
        font-family: 'Times New Roman', Times, serif;
    }
    .container {
        margin: 40px auto;
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow:  5px 5px 10px rgb(21, 98, 21);
    }
#itemName{
    width: 253px;
    font-size: large;
  }
  #submit{
    width: 353px;
    height: 75px;
  }
#itemQuantity{
  width: 253px;
  font-size: large;
}
#clearList{
  width: 233px;
  font-size: large;
}
}
#list_buttons{
display: block;
margin-right: 454px;
margin-left: -8px;
}
.markBought{
width: 235px;
height: 75px;
}
.removeItem{
width: 235px;
height: 75px;
}
.item-name{
width: 285px;
height: 75px;
}
.item-quantity{
width: 285px;
height: 75px;
}
  @media only screen and (min-width: 591px) and (max-width: 690px){
    #logo{
        width: 55%;
        height: 180px;
        margin-left: -40px;}
        body{
            overflow: scroll;
        }
    .appname{
        color: rgb(21, 98, 21);
        font-size: 45px;
        margin-left: 88px;
        margin-top: 33px;
        font-weight: 500px;
        font-family: 'Times New Roman', Times, serif;
    }
    .welcome_heading{
        font-size: 18px;
        margin-right: 60px;
        color: orange;
    }
    #landing-page-button{
        width: 120%;
        padding: 15px 10px;
        background: rgb(21, 98, 21);
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
        border-radius: 8px;
        border: 2px solid white;
        font-size: 30px;
    }
    #welcome-paragraph p{
        font-size: 20px;
        width: 233px;
        line-height: 1.8;
    }
    .shopping_basket{
        width: 310%;
        margin-right: -150%;
        height: 303px;
    }
    .appname-list-page{
        color:rgb(21, 98, 21);
        font-size: 35px;
        margin-left: -130px;
        margin-top: 50px;
        font-weight: 500px;
        font-family: 'Times New Roman', Times, serif;
    }
    #logo-listpage{
        width: 50%;
        height: 250px;
        margin-left: 40px;
    }
    .shoppinglisttext{
        color: orange;
        font-size: 45px;
    }
    #listName{
        width: 263px;
        font-size: 30px;
    }
    #clearAllLists{
        padding: 10px 20px;
        height: 50px;
        margin-left: 30px;
        font-size: 25px;
        background:  red;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
        border-radius: 8px;
        color: white;
        border: 2px solid white;
    }
    .container {
        max-width: 1100px;
        margin: 30px auto;
        background: white;
        padding: 10px;
        border-radius: 8px;
        box-shadow:  5px 5px 10px rgb(21, 98, 21);
    }
    #itemName{
        width: 123px;
        font-size: large;
      }
    #itemQuantity{
      width: 123px;
      font-size: large;
    }
  }
  #list_buttons{
    display: block;
    margin-right: 454px;
    margin-left: -8px;
}
.markBought{
    width: 235px;
    height: 75px;
}
.removeItem{
    width: 235px;
    height: 75px;
}
.item-name{
    width: 285px;
    height: 75px;
}
.item-quantity{
    width: 285px;
    height: 75px;
}
  @media only screen and (min-width: 691px) and (max-width: 750px){
    #logo{
        width: 85%;
        height: 270px;
        margin-left: -40px;
    }
    #itemInputDetail{
        display: block;
        gap: 3%;
    }
    #list_buttons{
        display: block;
        margin-right: 454px;
        margin-left: -8px;
    }
    .markBought{
        width: 235px;
        height: 75px;
    }
    .removeItem{
        width: 235px;
        height: 75px;
    }
    .item-name{
        width: 285px;
        height: 75px;
    }
    .item-quantity{
        width: 285px;
        height: 75px;
    }
    .appname{
        color: rgb(21, 98, 21);
        font-size: 24px;
        margin-left: -158px;
        margin-top: 76px;
        font-weight: 500px;
        font-family: 'Times New Roman', Times, serif;
    }
    .welcome_heading{
        font-size: 28px;
        margin-right: 60px;
        color: orange;
    }
    #landing-page-button{
        width: 70%;
        background: rgb(21, 98, 21);
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
        border-radius: 8px;
        border: 2px solid white;
        font-size: 20px;
    }
    #welcome-paragraph p{
        font-size: 20px;
        height: 234px;
        line-height: 1.8;
    }
    .shopping_basket{
        width: 500%;
        margin-left: -370%;
        height: 203px;
    }
    #landing_page{
        display: flex;
        align-items: center;
        font-size: 21px;
    }
    #logo-listpage{
        width: 40%;
        height: 150px;
        margin-left:70px;
        margin-top: 23px;
    }
    .appname-list-page{
        color:rgb(21, 98, 21);
        font-size: 35px;
        margin-left: -70px;
        margin-top: 50px;
        font-weight: 500px;
        font-family: 'Times New Roman', Times, serif;
    }
    .container {
        max-width: 1100px;
        margin: 40px auto;
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow:  5px 5px 10px rgb(21, 98, 21);
    }
    #itemName{
      width: 293px;
      height: 65px;
      font-size: large;
    }
  #itemQuantity{
    height: 65px;
    width: 293px;
    font-size: large;
  }
  #submits{
    width: 275px;
    height: 75px;
   }
}

#list_buttons{
  display: block;
  margin-right: 454px;
  margin-left: -23px;
}
.markBought{
  width: 185px;
  height: 75px;
}
.removeItem{
  width: 185px;
  height: 75px;
}
.item-name{
  width: 285px;
  height: 75px;
}
.item-quantity{
  width: 285px;
  height: 75px;
  }


  @media only screen and (min-width: 391px) and (max-width: 412px) {
    body {
        font-family: Arial, sans-serif;
        background-color: #F7F7F7;
    }
 
 
    .homepageContainer{
        position: fixed;
    }
 
 
    .restocklogo{
        display: flex;
        margin-left: 20%;
    }
 
 
    .appname{
        color: rgb(21, 98, 21);
        font-size: 20px;
        margin-left: -20px;
        font-weight: 500px;
        font-family: 'Times New Roman', Times, serif;
    }
   
    #logo-listpage{
        width: 40%;
        height: 250px;
        margin-left: 40px;
    }
 
 
    .restocklogo-list-page{
        display: flex;
        margin-left: -60px;
    }
 
 
 
 
 
 
    /* Shopping List page */
 
 
    .appname-list-page{
        color:rgb(21, 98, 21);
        font-size: 35px;
        margin-left: -28%;
        margin-top: 8%;
        font-weight: 500px;
        font-family: 'Times New Roman', Times, serif;
    }
 
 
 
 
    #logo-listpage{
        width: 55%;
        height: 150%;
    }
 
 
    .addItemForm{
        display: column;
        margin-bottom: 10%;
    }
 
 
    form button {
        padding: 8px 20px;
        height: 50px;
        font-size: 20px;
        background: rgb(21, 98, 21);
        border-radius: 8px;
        color: white;
        border: 2px solid white;
        font-size: 22px;
    }
 
 
    #itemName{
        margin-bottom: 9% ;
        width: 115%;
        margin-left: -18%;
 
 
    }
 
 
    .item-quantity{
        margin-bottom: 10%;
        width: 40;
 
 
    }
 
 
    #itemQuantity{
        width: 115%;
        margin-left: -18%;
    }
 
 
    #submit{
        margin-right: -20%;
        height: 5;
        font-size: 20px;
        text-align: center;
        padding: 10px 20px;
        height: 50px;
    }
 
 
    .item-name, .item-quantity{
        width: 80;
        margin-left: -82%;
    }
 
 
    #shoppingList{
        display: block;
        width: 10%;
    }
 
 
    #list_buttons{
        margin-right: 10%;
    }
 
 
    #itemInputDetails{
        width: 10%;
        margin-left: -82%;
    }
 
 
    #list_buttons{
        margin-left: 20%;
    }
 
 
    .markBought,.removeItem {
        margin-left: 160%;
        width: 100%;
    }
 
 
    #clearList{
        padding: 10px 20px;
        height: 50px;
        margin-left: 90px;
        font-size: 20px;
        background: red;
        color: white;
        border-radius: 8px;
        border: 2px solid white;
    }
 
 
    /* add_list_html_media_querries */
 
 
    #listName{
        margin-left: -15%;
        width: 70%;
        margin-right: -2%;
 
 
    }
 
 
    #Add_Button{
        margin-right: -20%;
    }
 
 
    #clearAllLists{
        margin-left: 85px;
 
 
    }
 
 
    /* index_html_media_querries */
 
 
    .restocklogo{
        display: flex;
 
 
    }
   
    #logo{
        width: 90%;
        height: 200px;
        margin-left: -90px;
    }
 
 
    .appname{
        color: rgb(21, 98, 21);
        font-size: 40px;
        margin-right: 50%;
        font-weight: 500px;
        font-family: 'Times New Roman', Times, serif;
    }
  }
 
 
 
   
 
 
 

