body{
    margin-left: 5%;
    margin-right: 6%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.appname{
    color: orange;
    font-size: xx-large;
    font-weight: 500px;
    font-family: 'Times New Roman', Times, serif;
} 
#restock-container{
    margin: 80px auto;    
    flex-wrap: wrap;
    width: 80%;
    padding: 50px;
}
#welcome-paragraph{
    flex-wrap: wrap;
    width: 100%;
}
.welcome_heading{
    font-size: 50px;
    color: orange;
}
#welcome-paragraph p{
    font-size: 25px;
    line-height: 1.8;
    
}
#already-paragraph{
    font-size: 25px;
}
#already-paragraph a{
    text-decoration: none;
    color: orange;
}
.restocklogo{
    display: flex;
    align-items: center;
}

#logo{
    width: 83%;
}


#landing_page{
    display: flex;
    align-items: center;
    gap: 30%;
    margin-top: -5%;
}

#landing-page-button{
    width: 60%;
    padding: 15px 10px;
    border-radius: 10px;
    border-radius: none;
    border-color: transparent;
    background-color: orange;
    color: white;
    font-size: 25px;
}
#landing-page-button a{
    text-decoration: none;
    color: white;
} 

.shopping_basket{
    width: 250%;
    margin-left: -90%;
    
}

#shopping-list{
    margin-left:574px;
    color:  orange;
}

#search-input{
    font-size: 25px;
    height: 0px;
    width: 68%;
    padding: 40px;
    border-radius: 50px;
}

#search-button{
    border-radius: 50px;
    height:60px;
    width:200px;
    font-size: 25px;
    margin-left: -17%;
    color: white;
    border: none;
    border-color: orange;
    background-color: orange;
}

#list-buttons{
    margin-top: 50px;
    display: flex;
    gap:3%;
  margin-left: 544px;
}

#list-button{
    border-color:  orange;
    width: 158px;
    height: 108px;
}

#add-button{
    border-color:  orange;
    width: 158px;
    height: 108px;
}

.item_input{
    width: 400px;
    height: 50px;
    font-size: 20px;
    flex-wrap: wrap;
    border-radius: 50px;
    padding: 20px;
    border: none;
    background-color: #E0E0E0;
}
.list-info-container{
    margin: 50px 150px;
}
#table_form{
    overflow: auto;
}
#item_table{
    width: 95%;
    border-collapse: collapse;
    min-width: 800px;
}
thead th{
    position: sticky;
    top: 0;
    background-color: orange;
    color: white;
    font-size: 30px;
    padding: 10px 20px;
}
tbody tr{
    text-align: center;
    border-bottom: 1px solid;
    padding: 10px 20px;
    font-size: 50px;
    background-color: #FFEAD5;
}
tr td{
    font-size: 30px;
    text-align: center;
}
tr:hover td{
    color: orange;
    cursor: pointer;
}
#edit_btn{
    height: 50px;
    width: 100px;
    font-size: 20px;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
#delete_btn{
    height: 50px;
    width: 100px;
    font-size: 20px;
    color: black;
    background-color: #E0E0E0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
#delete_btn:hover{
color: red;
}
.table-item.done{
    text-decoration: line-through;
    color: gray;
}
#add_button{
    width: 500px;
    margin-left: 30%;
    font-size: 25px;
    color: orange;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    background-color: #E0E0E0;
}

.restocklogo img {
    max-width: 200%;
    height: auto;
    gap: 2%; 
}

#backArrow{
    width: 23px;
    height: 10px;
    margin-left: 30%;
}
#landing-page {
    padding: 20px;
}
#list-buttons form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_input {
    margin-bottom: 10px;
}

#logo{
    width: 43%;
    height: 140px;
}
.logocontent{
    display: flex;
    gap: 1%;
}
.backArrow{
    width: 40px;
    height: 20px;
}
.forwardArrow{
    width: 40px;
    height: 20px;
}
#forwardbackward-arrow{
    display: flex;
    gap: 20%;
    margin-left: 70%;
    margin-top: -5%;
}
@media (min-width: 280px) and (min-width:750ox){
   body{
    
   }
    .restocklogo img {
        width: 50%; 
    }
    #arrow{
        height: 10px;
        margin-left: 308px;
        width: 23px;
    }

   .appname {
        font-size: 18px;
    }
    #add_button{
        width: 300px;
        font-size: 15px;
        color: orange;
        height: 30px;
        cursor: pointer;
        border-radius: 30px;
        border: none;
        background-color: #E0E0E0;
    }
    .table-item.done{
        text-decoration: line-through;
        color: gray;
        display: block;
        width: 23px;
        font-size: medium;
    }
.main-container{
    display: block;
}
    #landing-page {
        padding: 15px;
    }

    #list-buttons form {
        flex-direction: row;
        justify-content: space-between;
    }
    .restocklogo{
        display: block;
        align-items: center;
    }
   .item_input {
        margin-bottom: 5px;
    }
    #add-list{
        display: flex;
    }
 
#search-button{
    border-radius: 50px;
    height:60px;
    width:200px;
    font-size: 25px;
    display: block;
    color: white;
    border: none;
    border-color: orange;
    background-color: orange;
}

#search-buttons{
    border-radius: 50px;
    height:60px;
    width:200px;
    font-size: 25px;
    display: block;

}
}
