
body {
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
form input {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
}
form button {
    padding: 10px 20px;
    height: 40px;
}
#lists {
    list-style: none;
    padding: 0;
}
#lists li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.deleteList {
    margin-left: auto;
}

.appname{
    color: orange;
    font-size: xx-large;
    font-weight: 500px;
    font-family: 'Times New Roman', Times, serif;
} 
#restock-container{
    margin: 80px auto;    
    flex-wrap: wrap;
    width: 80%;
    padding: 50px;
}
#welcome-paragraph{
    flex-wrap: wrap;
    width: 100%;
}
.welcome_heading{
    font-size: 50px;
    color: orange;
}
#welcome-paragraph p{
    font-size: 25px;
    line-height: 1.8;
    
}
#already-paragraph{
    font-size: 25px;
}
#already-paragraph a{
    text-decoration: none;
    color: orange;
}
.restocklogo{
    display: flex;
    align-items: center;
}

#logo{
    width: 83%;
}


#landing_page{
    display: flex;
    align-items: center;
    gap: 30%;
    margin-top: -5%;
}

#landing-page-button{
    width: 60%;
    padding: 15px 10px;
    border-radius: 10px;
    border-radius: none;
    border-color: transparent;
    background-color: orange;
    color: white;
    font-size: 25px;
}
#landing-page-button a{
    text-decoration: none;
    color: white;
} 

.shopping_basket{
    width: 250%;
    margin-left: -90%;
    
}

#shopping-list{
    margin-left:574px;
    color:  orange;
}







.restocklogo img {
    max-width: 200%;
    height: auto;
    gap: 2%; 
}


#landing-page {
    padding: 20px;
}


#logo{
    width: 43%;
    height: 140px;
}
.logocontent{
    display: flex;
    gap: 1%;
}
.backArrow{
    width: 40px;
    height: 20px;
}
.forwardArrow{
    width: 40px;
    height: 20px;
}
#forwardbackward-arrow{
    display: flex;
    gap: 20%;
    margin-left: 70%;
    margin-top: -5%;
}

